body {
    background-color:#d4dce4;
}
.container{
    margin-top: 30px;
}

.col{
display: flex;
justify-content: center; /*aki para centrar debí utilizar el display:flex de arriba*/
border-color: black;
border-style: solid;
}
.alert-danger {
    background-color: #fc0303;
    border-color: #f78686;
    height: 150px;
    width: 150px;
}
.alert-warning {
    background-color: #f8fc03;
    border-color: #f78686;
    height: 150px;
    width: 150px;
}
.alert-success {
    background-color: #05d83a;
    border-color: #f78686;
    height: 150px;
    width: 150px;
}